/* Your custom styles */

/* NAV */
.navbar-brand > img {
  width: 30%;
  height:30%;
}
.nav-item  {
 text-align: center;
}
.nav-item > a:hover {
  background: #3F729B;
  /* border-radius:  */
  transition: 300s all;
}

