/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET */



/* GENERAL STYLES */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  text-align: center
}
h1 {
  font-size: 7vw;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3vw;
  margin-bottom: 1rem;
}
p {
  line-height: 1.5;
  margin-bottom: 1.3rem;
}

/* NAV STYLES */

.nav {
  background: #343434;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  list-style: none;
}
.nav__list {
  list-style-type: none;
}
.nav__list > li {
  margin-right: 1.5em;
}
.nav__list > li ~ li {
  flex-direction: row;
  padding-left: 1em;
}
.nav__list-items > a {
  color: #fff;
  text-decoration: none;
}

/* HERO STYLES */
.hero--full {
  background: #545454;
  background-size: cover;
  height: 100vh;
}

.hero__home {
  background-image: url(images/city-view.jpg);
  background-position: center top;
}


/* ABOUT STYLES */

/* WORK STYLES */
#work {
  background: #e4e4e4;
}
.portfolio {
  height: 50%;
  transition: all 300ms;
  width: 50%;
}
.portfolio:hover {
  transform: scale(1);
}

/* CONTACT STYLES */
#contact {
  background: 
}